* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #000;
    overflow-x: hidden;
    overflow-y: auto;
}
li {list-style-type: none;}
a {
    text-decoration: none;
    color: #000;
}
.wrapper {
    margin-left: calc(15.625vw - 17px);
    width: 84.375vw;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}


/* header */
#left_header {
    position: fixed;
    width: calc(15.625vw - 17px);
    height: 100vh;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid #000;
    z-index: 9;
}
#left_header > .logo {
    margin: 0;
    padding-top: 0px;
    padding-left: 10px;
    /* width: 100%; */
    /* height: 51px; */
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 700;
    z-index: 9;
    text-decoration: none;
    color: #000;
}
#left_header > .logo:hover > a {
    color: #000;
}
#left_header > #gnb {
    position: relative;
    width: calc(15.625vw - 17px);
    height: 700px;
}
#left_header > #gnb > li {
    position: absolute;
    font-size: 1.5625vw;
}
#left_header > #gnb > li > a {
    display: block;
    text-decoration: none;
}
#left_header > #gnb > li:hover > a {
    color: #888;
    border-bottom: 2px solid #888;
}
#left_header > #gnb > li:first-child {
    top: 35vh;
    left: 1.0416vw;
}
#left_header > #gnb > li:nth-child(2) {
    top: 40vh;
    left: 1.0416vw;
}
#left_header > #gnb > li:last-child {
    top: 45vh;
    left: 1.0416vw;
}
#left_header > .contact {
    position: relative;
    width: 100%;
    height: calc(100vh - 751px);
}
#left_header > .contact > a {
    position: absolute;
    display: block;
    font-size: 0.9375vw;
}
#left_header > .contact > a:hover {
    color: #888;
    border-bottom: #888;
}
#left_header > .contact > .email {
    left: 1.0416vw;
    bottom: 12vh;
}
#left_header > .contact > .phone {
    left: 1.0416vw;
    bottom: 8.5vh
}
#left_header > .contact > .instagram {
    left: 1.0416vw;
    bottom: 5vh;
}
.popup {
    display: none;
}



/* 미디어 쿼리 */
@media screen and (max-width: 767px) {
    #left_header > .logo {
        position: absolute;
        line-height: 50px;
        font-size: 4vw;
    }
    #left_header > #gnb {
        width: 100%;
        height: 50px;
    }
    #left_header > .contact {
        display: none;
    }
    .wrapper {
        /* margin-left: 15.625vw; */
        width: 100vw;
        margin-left: 0;
    }
    #left_header {
        position: fixed;
        /* width: 15.625vw; */
        width: 100%;
        /* height: 100vh; */
        height: 50px;
        overflow: hidden;
        background: #fff;
        border: none;
        border-bottom: 1px solid #000;
        z-index: 9;
    }
    #left_header > #gnb > li:first-child {
        top: 0;
        left: 40vw;
        line-height: 50px;
    }
    #left_header > #gnb > li:nth-child(2) {
        top: 0vh;
        left: 60vw;
        line-height: 50px;
    }
    #left_header > #gnb > li:last-child {
        top: 0vh;
        left: 80vw;
        line-height: 50px;
    }
    .popup {
        position: fixed;
        top: 5%;
        left: 25%;
        display: block;
        width: 250px;
        height: 90px;
        background: #fff;
        border: 1px solid #000;
        padding: 10px;
        z-index: 99;
        display: none;
    }
    .popup > .btn_close {
        position: absolute;
        border: none;
        background: #fff;
        top: 5px;
        right: 10px;
        font-size: 20px;
    }
}